{{- $title := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}
{{- $desc := "" -}}
{{- if .IsHome -}}
  {{- $desc = site.Params.description -}}
{{- else if .Description -}}
  {{- $desc = .Description -}}
{{- else -}}
  {{- $desc = .Summary | plainify | truncate 160 -}}
{{- end -}}

{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Description */}}
{{- with $desc }}
<meta name="description" content="{{ . }}">
{{- end }}

{{/* Open Graph */}}
<meta property="og:type"        content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url"         content="{{ .Permalink }}">
<meta property="og:title"       content="{{ $title }}">
{{- with $desc }}
<meta property="og:description" content="{{ . }}">
{{- end }}
{{- with site.Params.ogImage }}
<meta property="og:image"       content="{{ . | absURL }}">
{{- end }}

{{/* Article-specific */}}
{{- if not .IsHome }}
<meta property="article:published_time" content="{{ .Date | time.Format "2006-01-02T15:04:05Z07:00" }}">
{{- with .Params.tags }}
  {{- range . }}
<meta property="article:tag" content="{{ . }}">
  {{- end }}
{{- end }}
{{- end }}

