{{ define "main" }}
{{- $posts := where site.RegularPages "Section" "posts" }}
{{- $latest := index ($posts.ByDate.Reverse) 0 }}

{{- with $latest }}
<article>
    <h1>{{ .LinkTitle }}</h1>
    <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
    {{ .Date | time.Format ":date_long" }}
    </time>
    {{ .Content }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{- end }}

{{- $recentPosts := $posts.ByDate.Reverse | first 5 }}
<section class="recent-posts-section">
    <h2>Recent posts</h2>
    <ul class="post-list">
        {{- range $recentPosts }}
        <li class="post-item">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            <small class="post-date">{{ .Date | time.Format ":date_medium" }}</small>
        </li>
        {{- end }}
        <li class="post-item post-item--all">
            <a href="{{ "/posts" | relURL }}">More posts →</a>
        </li>
    </ul>
</section>
{{ end }}